@{
    ViewBag.Title = "Home";
}

<div class="container">
    <div class="text-center" style="background-color: #f2f2f2; padding: 5px; border-radius: 20px;">
        <h1 class="display-3" style="font-weight: bold; color: #d9534f;">Hoşgeldiniz</h1>
        <hr style="border-top: 2px solid #d9534f; width: 60px; margin: 20px auto;">
        <img src="https://i.ytimg.com/vi/NhvtS7OxrOI/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLCLsQXq-Vsrfme7FJ_Kc9n3Y-3TIQ"
             alt="image"
             class="img-thumbnail img-responsive"
             style="max-width: 100%; height: auto; margin-top: 5px; border: 4px solid #d9534f;" />
        <p class="lead" style="margin-top: 10px;">
            Bu proje <strong>Murat Yücedağ</strong>'ın hazırladığı <strong>50 Derste MVC</strong> videosu izlenerek hazırlanmıştır.
            <br /> Kendilerine emekleri için çok teşekkür ederim.
        </p>
        <p style="font-size: 18px;">
            <a class="btn btn-danger btn-lg"
               href="https://www.youtube.com/watch?v=ROMDAwb0cOM&list=PLKnjBHu2xXNNRPqfdZC6hNmJKOqIIpqNj"
               target="_blank">
                Eğitim Videosuna Git
            </a>
        </p>
    </div>
</div>


