@model MVC_50Ders.Models.Entity.tblMusteriler
@{
    ViewBag.Title = "NewCustomer";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Yeni Müşteri</h2>
<br />
<form class="form-group" method="post">
    <div>
        <label>Müşteri Adı</label>
        @*<input type="text" name="musteriAd" class="form-control" />*@
        @Html.TextBoxFor(m => m.musteriAd, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.musteriAd, "", new { @class = "text-danger bg-danger" })
    </div>
    <br />
    <div>
        <label>Müşteri Soyadı</label>
        @*<input type="text" name="musteriSoyad" class="form-control" />*@
        @Html.TextBoxFor(m => m.musteriSoyad, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.musteriSoyad, "", new { @class = "text-danger bg-danger" })
    </div>
    <div style="margin-top:10px;">
        <button class="btn btn-primary" id="btnCustomerAdd">Müşteri Ekle</button>
    </div>
    <script>
        $('#btnCustomerAdd').click(function () {
            alert("Müşteri Eklendi");
        });
    </script>
</form>

