@model MVC_50Ders.Models.Entity.tblSatislar

<div>
    <form method="post" action="/Sales/NewSales">
        <div class="form-group">
            <label>Ürün Bilgisi</label>
            @Html.TextBoxFor(m => m.urun, new { @class = "form-control", placeholder = "Ürün Bilgisi Giriniz" })
        </div>
        <div class="form-group">
            <label>Müşteri Bilgisi</label>
            @Html.TextBoxFor(m => m.musteri, new { @class = "form-control", placeholder = "Müşteri Bilgisi Giriniz" })
        </div>
        <div class="form-group">
            <label>Adet</label>
            @Html.TextBoxFor(m => m.adet, new { @class = "form-control", placeholder = "Ürün Adedi Giriniz" })
        </div>
        <div class="form-group">
            <label>Fiyat</label>
            @Html.TextBoxFor(m => m.fiyat, new { @class = "form-control", placeholder = "Ürün Fiyatı Giriniz" })
        </div>
        <button type="submit" class="btn btn-info">Satışı Onayla</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Vazgeç</button>
    </form>
</div>
